<div class="center hero-unit">
    <h2 class="text-info">Thanks for stopping by to get more info about our Wedding!</h2>
<!--http://www.bootstrapthemeroller.com/twitter-bootstrap-themeroller.html#@blue=#178ebf&@headingsFontWeight=bold-->
    <h5 class="text-info">We have included some stuff that will hopefully make joining us on our special day as seamless as possible!</h5>
</div>


<div style="width:2500px">
<div style="padding-left:125px; float: left; width:500px">
		<img src="assets/rl_butt.jpg" class="img-rounded" alt="" style="width:450px; height:300px">
		
</div> 
<div style ="float:left; width:500px">
	<p><h4>Our Wedding is on Friday, July 26, 2013</h4></p>
	<p><h5>Here is the tentative agenda:</h5></p>
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Time</th>
				<th>What's Planned?</th>
			</tr>	
		</thead>
		<tbody>
			<tr>
				<td>4:00 PM - 4:30 PM</td>
				<td>Wedding Ceremony</td>
			</tr>
			<tr>
				<td>4:30 PM - 6:00 PM</td>
				<td>Cocktails + Snacks</td>
			</tr>
			<tr>
				<td>6:00 PM - 7:30 PM</td>
				<td>Dinner Served</td>
			</tr>
			<tr>
				<td>7:30 PM - 8:00 PM</td>
				<td>Some Words Said</td>
			</tr>	
			<tr>
				<td>8:00 PM - 10:00 PM</td>
				<td>More Fun</td>
			</tr>
		</tbody>
	</table>
</div>
</div>

		
	
