<div class="center hero-unit">
    <h2 class="text-info">Staying for the weekend?</h2>

    <h5 class="text-info">Collectively we spent over 12 years in the San Diego area so let us give you some advice on things to do during your stay!</h5>
</div>