<div class="center hero-unit">
    <h2 class="text-info">Registry</h2>

    <h5 class="text-info">Your attendance is the best gift of all, but if you would like to get us a gift, here is more info.</h5>
</div>
<div style="width:2500px">
	<div style="padding-left:125px; float: left; width:300px">
		<p><h5>We have listed some ideas at a site called RegistryLove, which allows us to list some items from various stores. We have also included options to donate to our honeymoon in Cabo.</h5></p>
		<p>
		<div class="btn btn-large btn-success">
			<a href="https://www.registrylove.com/registries/lennisandrory">Visit Registry at RegistryLove</a>
		</div>
		</p>
	</div>
		<div style ="float:left; padding-left:125px; width:500px">
			<img src="assets/lr_southie.jpg" class="img-rounded" alt="" style="width:450px; height:300px">
		</div>		
</div>	



	