<div class="center hero-unit">
    <h2 class="text-info">Thanks for stopping by to get more info about our Wedding!</h2>

    <h5 class="text-info">We have included some stuff that will hopefully make joining us on our special day as seamless as possible!</h5>
</div>
