<div class="center hero-unit">
    <h2 class="text-info">Need Travel Advice?</h2>

    <h5 class="text-info">Here are some details on airports in the area and some resources to help you find the best flight options from your departure cities...</h5>
</div>

<div style="width: 900px">
	<div style="padding-left:85px; float: Left; width:300px">
	<h5><p><u>Recommended Airports</u></p>
	    <p>San Diego (SAN) - 35 miles South</p>
		<p>Orange County (SNA) - 60 miles North</p>
		<p>Palomar (CLD) - 3 miles North</p></h5>
	</div>	
	<div "float: Left; width:350px">
	<script src="http://www.kayak.com/widget/?ai=kayaksample&p=&cruises=n&deals=n&vacations=n&tab=flights&l1=!&l2=SAN&doubleEncoded=on&size=300x250" style="padding-left:60px"> </script><noscript><strong>Compare hundreds of travel sites</strong> at once to find the deal that's right for you <a href='http://www.kayak.com/in?&url=/' target='_blank'>on KAYAK</a></noscript>
	</div>
</div>