<div class="center hero-unit">
  <p><h2 class="text-info">Where is the wedding at?</h2>
	 <h5 class="text-info">
      Leo Carillo Park is an historic ranch estate in Carlsbad, CA. We chose the venue b/c we loved the fact that it had a laid back feel as well as bursting with natural colors. The peacocks are pretty awesome as well!
    </h5></p>
</div>
<body>
	<div style="padding-left:30px">
		<img class="img-rounded" src="/assets/leo_entrance.png" alt="leo_entrance" style="padding:10px; width:280px; height:250px">
		<img class="img-rounded" src="/assets/leo_above.png" alt="leo_above" style="padding:10px; width:280px; height:250px">	
		<img class="img-rounded" src="/assets/leo_peacock.png" alt="leo_peacock" style="padding:10px; width:280px; height:250px">	
		<img class="img-rounded" src="/assets/leo_night.png" alt="leo_night" style="padding:10px; width:280px; height:250px">
	</div>
</body>
	<div style="padding-top: 15px; padding-left: 37%">
    <%= link_to "Learn More Here", 'http://www.carlsbadca.gov/services/departments/parksandrec/parks-facilities/parks/pages/leo-carrillo-ranch-main.aspx', 
                                class: "btn btn-large btn-success" %>
    <%= link_to "Get Directions", 'https://www.google.com/maps?q=Leo+Carrillo+Ranch+Historic+Park,+6200+Flying+Leo+Carrillo+Ln,+Carlsbad,+San+Diego,+California+92009-3042&hl=en&ll=33.118503,-117.236652&spn=0.026778,0.056863&sll=33.11113,-117.248109&sspn=0.02678,0.056863&geocode=FTZZ-QEdSxwD-Q&hnear=Leo+Carrillo+Ranch+Historic+Park,+6200+Flying+Leo+Carrillo+Ln,+Carlsbad,+California+92009-3042&t=m&z=15', 
							                                class: "btn btn-large btn-success" %>
	</div>

