<div class="center hero-unit">
    <h2 class="text-info">Where should you stay?</h2>

    <h5 class="text-info">Listed below are a few great options for accommodations in the Carlsbad area</h5>
</div>
<div>
	<h5><ul>West Inn - Carlsbad, CA (bride/groom staying here)</ul>
		<ul>Address1 </ul>
		<ul>$219/nt</ul>
	</h5>	
</div>
