<div class="center hero-unit">
    <h2 class="text-info">Where should you stay?</h2>

    <h5 class="text-info">Listed below are a few great options for accommodations in the Carlsbad area</h5>
</div>
<div class="row-fluid">
	<ul class="thumbnails">
		<li class="span4">
			<div class="thumbnail">
				<img alt="westin" style="width: 450px; height: 200px;" src="/assets/westinn.jpg">
				<div class="caption">
					<h3>West Inn - Carlsbad, CA</h3>
				<p><strong>The bride & groom are staying here. Mention "Joyce wedding party" when reserving your rooms. Rooms start at $219/nt.</strong></p>
				</div>
			<div class="btn btn-large btn-inverse">
				<a href="https://bookings.ihotelier.com/West-Inn-and-Suites/bookings.jsp?hotelId=6905&languageid=1">Reserve Now</a>
			</div>
			</div>
		</li>
		<li class='span4'>
		<div class="thumbnail">
			<img alt="la_quinta" style="width: 450px; height: 200px;" src="/assets/la_quinta.jpeg">
			<div class="caption">
				<h3>La Quinta - Carlsbad, CA</h3>
			<p><strong>The La Quinta is a more affordable option close by to both Leo Carillo and the West Inn. Rates start at $149/nt.</strong></p>
			</div>
		<div class="btn btn-large btn-inverse">
			<a href="http://www.lq.com/lq/respath/checkAvailability.do?searchCity=Carlsbad&searchState=CA&searchRadius=2&searchType=&searchOCity=&searchOState=&searchOAddress=&searchOPostal=&searchDCity=&searchDState=&searchDAddress=&searchDPostal=&corridorRadius=&excludeFromStart=&checkInMonth=07&checkInDay=25&checkInYear=2013&checkOutMonth=07&checkOutDay=26&checkOutYear=2013&palsra_IND_D=25&palsra_IND_M=07&palsra_IND_Y=2013&palsra_OTD_D=28&palsra_OTD_M=7&palsra_OTD_Y=2013&palsra_NRM=1&palsra_ROC=1&palsra_NCH=0&palsra_AMC2=&palsra_RPC1=&palsra_CCN1=&userAction=PROCESS&propId=6120&palsra_CUA1=&searchQuery=searchCity%3DCarlsbad%26searchState%3DCA%26searchType%3DGEO%26lat%3D33.10635%26lon%3D-117.31404%26availability.palsra_IND_Y%3D2013%26availability.palsra_IND_M%3D07%26availability.palsra_IND_D%3D25%26availability.palsra_OTD_Y%3D2013%26availability.palsra_OTD_M%3D07%26availability.palsra_OTD_D%3D26%26availability.palsra_NRM%3D1%26availability.palsra_ROC%3D1%26availability.palsra_NCH%3D0%26availability.palsra_AMC2%3D%26availability.palsra_RPC1%3D%26availability.palsra_CCN1%3D%26availability.palsra_CUA1%3D&resType=&confNumber=&currCode=USD">Reserve Now</a>
		</div>
		</div>
		</li>
		<li class='span4'>
		<div class="thumbnail">
			<img alt="hipmunk" style="width: 450px; height: 200px;" src="/assets/hipmunk.jpeg">
			<div class="caption">
				<h3>Other options via Hipmunk</h3>
			<p><strong>We love Hipmunk for hotel and vacation rental search. They are currently the only site that aggregates listings from Airbnb, VRBO, and HomeAway.</strong></p>
			</div>
		<div class="btn btn-large btn-inverse">
			<a href="http://www.hipmunk.com/hotels/Carlsbad-CA#!dates=Jul25,Jul28">Search Hipmunk</a>
		</div>
		</div>
		</li>
	</ul>
</div>

