$bodyBackground: #3A87AD;
$navbarLinkColorHover: #00FF00;
$heroUnitBackground: #FFFFFF;
@import "bootstrap";

menu a {
color: #00BFFF;
}
menu a:hover {
color: #40FF00;
}
.navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.navbar-inner {
  text-align:center;
}